<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A lightweight, open-source, privacy-focused file sharing tool.">
<meta name="og:site_name" content="Dropgate | Privacy-first File Sharing">
<meta name="og:title" content="<%= serverName %>">
<meta name="og:description" content="A lightweight, open-source, privacy-focused file sharing tool.">
<meta name="og:type" content="website">
<meta name="theme-color" content="#57F287">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="manifest" href="/manifest.json" />
<title><%= serverName %></title>

<link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/material-icons/round.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap-base.css" />
